.hyperlink-text{
    text-decoration: underline;
    cursor:pointer;
    color:blue;
}
.hyperlink-text:visited{
    color:violet;
}
.hyperlink-button{
    border:none;
    background:none;
    color:blue;
    cursor:pointer;
    font-size:100%;
    text-decoration:underline;
    padding:2px;
}
.hyperlink-button:visited{
    color:violet;
}